*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.main{
    padding-top: 30px;
    max-width: 1240px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.main-logo{
    text-align: center;
    margin: 50px;
}

.thread-section{
    width: 70%;
}

.thread-section .single-thread{
    margin-bottom: 20px;
    box-shadow: 1px 0px 4px black;
    padding: 30px 20px;
    border-radius: 10px;
}

.single-thread h3{
    margin-top: 2px;
    margin-bottom: 4px;
}

.form-section{
    margin-top: 50px;
    box-shadow: 1px 0px 4px black;
    padding: 20px 100px;
    background-color: #ffe3ef;
}

.form-section p{
    margin: 16px 0px 4px 0px;
    font-size: 18px;
}

.form-section #inputTitle{
    padding: 10px;
    font-size: 20px;
}

.form-section #inputContent{
    padding: 10px;
    font-size: 20px;
}

.form-section #submitBtn{
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
}





.copy-right{
    color: #c7c7c7;
    text-align: center;
    margin-bottom: 20px;
}
