/*  Main css  */
*{
    background-color: #75CFF0;
}




/*  Content css  */
.content{
    margin-top: 100px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 580px){
    .content{
        margin-top: 0;
        width: 95%;
    }
}




/*  Main-log css  */
.main-logo{
    padding: 10px 0 50px 0;
    font-size: 40px;
}
@media screen and (max-width: 580px){
    .main-logo{
        font-size: 20px;
        padding-bottom: 10px;
    }
}



/*  Search css  */
.search{
    padding: 0 0 30px;
}

.search-bar{
    padding: 15px;
    font-size: 35px;
    background-color: gainsboro;
    margin-right: 20px;
    border-radius:20px;
}
@media screen and (max-width: 580px){
    .search-bar{
        font-size: 15px;
        padding: 6px;
        border-radius: 10px;
    }
}

.search-btn{
    padding: 15px;
    font-size: 35px;
    background-color: #fff;
    border-radius:20px;

    margin-left: 20px;
}
@media screen and (max-width: 580px){
    .search-btn{
        font-size: 15px;
        padding: 6px;
        border-radius: 10px;
        margin-left: 5px;
    }
}


/*  Weather css  */
.weather{
    padding: 15px 0;
    display: flex;
    justify-content: center;
}



.weather-icon{
    width: 250px;
    padding-right: 50px;
}
@media screen and (max-width: 580px){
    .weather-icon{
        width: 125px; 
        padding-right: 15px;
    }
}

.weather-data{
    padding-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 580px){
    .weather-data{
        padding-left: 15px;
        font-size: 10px;
    }
}



/* Clothes css  */
.clothes{
    padding: 15px 0;
}

.clothes h1{
    margin-bottom: 0;
}
@media screen and (max-width: 580px){
    .clothes h1{
        font-size: 20px;
    }
}

.clothes .point{
    padding: 0;
    margin: 0;
}

